/* p{
    color: brown;
    background-color: #09e0e7;
    height: 50px;
    width: 100%;
    font-size: 20px;

} */
#russia{
 color: chocolate;  
 background-color: yellowgreen; 
}
#usa{
    color: darkblue;
    background-color: tomato;
}
#joe{
    color: darkgoldenrod;
    background-color: turquoise;
}
#saon{
color: greenyellow;
}
.box{
 width: 500px;
 height: 500px;
 color: red;
 border: 2px solid green;
}
#fuck{
    border: hotpink;
    border: 10px dotted goldenrod;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    flex: auto;
}
#middle{
    
}